<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lịch sử giao dịch | Gym Health Monitor</title>

    <th:block th:replace="base :: head"></th:block>
</head>

<body>
    <div th:replace="base :: header"></div>
    <div th:replace="base :: message"></div>

    <main class="container mt-4">
        <h2 class="text-center mb-3">💳️ Lịch sử giao dịch</h2>

        <div class="d-flex justify-content-end align-items-center mb-1">
            <form th:action="@{/payments}" method="get" class="mb-1 d-flex">
                <input type="text" name="kw" th:value="${kw}" class="form-control me-2 w-auto"
                    placeholder="🔍 Tìm kiếm...">
                <button type="submit" class="btn btn-primary w-auto">Tìm kiếm</button>
            </form>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-bordered text-center">
                <thead class="table-dark">
                    <tr>
                        <th><input type="checkbox" id="selectAll" onclick="toggleSelectAll()"></th>
                        <th>Mã giao dịch</th>
                        <th>Mã đăng ký</th>
                        <th>Giá tiền</th>
                        <th>Phương thức</th>
                        <th>Thời gian</th>
                        <th>Người đăng ký</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p: ${payments}">
                        <td><input type="checkbox" th:value="${p.id}"></td>
                        <td><a th:href="@{/payments/edit/{id}(id=${p.id})}" th:text="${p.code}"></a></td>
                        <td><a th:href="@{/subscriptions/edit/{id}(id=${p.subscription.id})}" th:text="${p.subscription.code}"></a></td>
                        <td th:text="${#numbers.formatDecimal(p.amount, 0, 'COMMA', 0, 'POINT')} + ' VND'"></td>
                        <td th:text="${p.method}"></td>
                        <td th:text="${#dates.format(p.createdAt, 'HH:mm dd/MM/yyyy')}"></td>
                        <td th:text="${p.subscription.member.firstName + ' ' + p.subscription.member.lastName}"></td>
                        <td>
                            <span th:text="${p.status.label}" 
                                  th:class="${p.status.badgeClass}"></span>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(payments)}">
                        <td colspan="7">Không có giao dịch nào.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-end fw-bold mb-1">
            Tổng số giao dịch: <span th:text="${totalPayments}"></span>
        </div>

         <div th:replace="base :: pagination"></div> 
    </main>

    <div th:replace="base :: footer"></div>
</body>

</html>