<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tiến độ tập luyện | Gym Health Monitor</title>

    <th:block th:replace="base :: head"></th:block>
</head>

<body>
    <div th:replace="base :: header"></div>
    <div th:replace="base :: message"></div>

    <main class="container mt-4">
        <h2 class="text-center mb-3">Tiến độ tập luyện</h2>



        <div th:replace="base :: pagination"></div>
    </main>

    <div th:replace="base :: footer"></div>
</body>

</html>