/* Định dạng chung */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Navbar */
.navbar {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Main chiếm hết phần còn lại của trang */
main {
    flex: 1;
}

/* Footer */
.footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 40px;
}

.footer h1 {
    font-size: 16px;
    margin-bottom: 0;
}

.footer p {
    margin-bottom: 0;
    font-size: 12px;
}

/* Card Styles */
.card {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    text-align: center;
}

.container-fluid>div.d-flex {
    width: auto;
}

@media (max-width: 991.98px) {
    .container-fluid>div.d-flex {
        width: 100%
    }
}

.text-white {
    color: white;
}

.pagination .page-item.disabled .page-link {
    pointer-events: none;
    color: #999;
    background-color: #f1f1f1;
    border-color: #ddd;
    cursor: not-allowed;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    font-weight: bold;
}

.filter-container {
    margin-top: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.filter-container input, .filter-container button {
    padding: 8px;
    font-size: 16px;
}

